/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: #111;
    /* overflow-x: hidden; */
    padding-top: 20px;
}

.SideBarHeader {
    margin: 0px;
    height: 10%;
    width: auto;
    text-align: center;
    background-color: skyblue;
}

.SideBarBody {
    margin: 10px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    margin: 5px 0px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: 0px;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    /* outline: none; */
}

.borderbottom {
    border-bottom: 1px solid white;
}

.margin_top {
    margin-top: 0px;
}

.padding_top {
    padding-top: 0px;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    margin: 0px;
    color: #f1f1f1;
}

/* Main content */
.main {
    margin-left: 20%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 0px;
}

/* Add an active class to the active dropdown button */
.active {
    margin: 0px;
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}




.ContentHeader {
    padding: 0px;
    margin: 0px;
    height: 69.5px;
    width: auto;
    background-color: gray;
    display: block;
    position: sticky;
}

.ContentBody {
    padding: 5px 0px;
    margin: 5px 10px;
}
