body {
    background: white;
}

#div-Center {
    padding: 50px;
    position: absolute;
    top: 23%;
    background-color: rgba(44,62,80,0.8);
    align-content: center;
    box-shadow: rgba(0,0,0,0.1);
    border-radius: 25px;
}

.signUp-btn{
    background-color : orange;
    color: white;
    border-radius : 20px;
}

#div-Center label{
    padding : 5px;
    color: white;
}

.error_Msg{
    color: red;
    text-align: left;
}

/*.pswdField {
    background-color: white;
    background-image: url('/assets/closed_Eye.png');
    background-position: 290px 10px;
    background-repeat: no-repeat;
    background-size: 20px;*/ /* Adjust size */
/*}*/

.pswdField {
    padding-right: 35px; /* Space for the eye icon */
}

.password-toggle img {
    width: 20px;
    height: 20px;
}